		<p><pre><code>@inproceedings{GallWi21,
  title = {Ducked Tails: Trimming the Tail Latency of(f) Packet Processing Systems},
  author = {Gallenm\"uller, Sebastian and Wiedner, Florian and Naab, Johannes and Carle, Georg},
  booktitle = {3rd International Workshop on High-Precision, Predictable, and Low-Latency Networking (HiPNet 2021)},
  year = {2021},
  address = {Izmir, Turkey},
  month = oct,
  pdf = {http://www.net.in.tum.de/fileadmin/bibtex/publications/papers/gallenmueller_hipnet2021.pdf},
  month_numeric = {10}
}</code></pre></p>
