		<p><pre><code>@inproceedings{GallScho21,
  title = { {The pos Framework: A Methodology and Toolchain for Reproducible Network Experiments} },
  author = {Gallenm{\"u}ller*, Sebastian and Scholz*, Dominik and Stubbe, Henning and Carle, Georg},
  booktitle = {The 17th International Conference on emerging Networking EXperiments and Technologies (CoNEXT '21)},
  year = {2021},
  address = {Munich, Germany (Virtual Event)},
  month = dec,
  keywords = {plain orchestrating service, pos, repeatability, reproducibility, replicability, experiments},
  pdf = {http://www.net.in.tum.de/fileadmin/bibtex/publications/papers/gallenmueller_scholz_conext2021.pdf},
  homepage = {https://gallenmu.github.io/pos-artifacts},
  recording = {https://youtu.be/qtYifgkmUSI},
  rawdata = {https://github.com/gallenmu/pos-artifacts},
  doi = {10.1145/3485983.3494841},
  month_numeric = {12}
}</code></pre></p>
