<nav class="navigation">
	<ul class="nav-list">
		<li {% if page.url == "/" %}class="current_path current"{% endif %}><a href="{{ site.url }}/">Home</a></li>
		<li {% if page.url == "{{ site.url }}/web/setup.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/setup.html">Hardware Setup</a></li>
	</ul>
	<div style="padding: 10pt 5pt 5pt 5pt; background-color: white"><b>Paper</b></div>
	<ul class="nav-list">
		<li {% if page.url == "web/suricata-afpacket.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/suricata-afpacket.html">Figure 1</a></li>
		<li {% if page.url == "web/dpdk-l2fwd.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/dpdk-l2fwd.html">Figure 5</a></li>
		<li {% if page.url == "web/dpdk-l2fwd-worst.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/dpdk-l2fwd-worst.html">Figure 6</a></li>
		<li {% if page.url == "web/suricata-fwd.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/suricata-fwd.html">Figure 7</a></li>
		<li {% if page.url == "web/suricata-fwd-worst.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/suricata-fwd-worst.html">Figure 8</a></li>
		<li {% if page.url == "web/suricata-ruleset.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/suricata-ruleset.html">Figure 9</a></li>
		<li {% if page.url == "web/dpdk-l2fwd-nic.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/dpdk-l2fwd-nic.html">Figure 10</a></li>
		<li {% if page.url == "web/dpdk-l2fwd-vm.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/dpdk-l2fwd-vm.html">Figure 11</a></li>
		<li {% if page.url == "web/dpdk-l2fwd-vm-worst.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/dpdk-l2fwd-vm-worst.html">Figure 12</a></li>
	</ul>
</nav>
