<nav class="navigation">
	<ul class="nav-list">
		<li {% if page.url == "/" %}class="current_path current"{% endif %}><a href="{{ site.url }}/">Home</a></li>
		<li {% if page.url == "/setup.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/setup.html">Hardware Setup</a></li>
	</ul>
	<div style="padding: 10pt 5pt 5pt 5pt; background-color: white"><b>Paper (under review)</b></div>
	<ul class="nav-list">
		<li {% if page.url == "/placeholder.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/placeholder.html">Figure 1</a></li>
		<li {% if page.url == "/placeholder.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/placeholder.html">Figure 5</a></li>
		<li {% if page.url == "/placeholder.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/placeholder.html">Figure 6</a></li>
		<li {% if page.url == "/placeholder.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/placeholder.html">Figure 7</a></li>
		<li {% if page.url == "/placeholder.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/placeholder.html">Figure 8</a></li>
		<li {% if page.url == "/placeholder.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/placeholder.html">Figure 9</a></li>
		<li {% if page.url == "/placeholder.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/placeholder.html">Figure 10</a></li>
		<li {% if page.url == "/placeholder.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/placeholder.html">Figure 11</a></li>
		<li {% if page.url == "/placeholder.html" %}class="current_path current"{% endif %}><a href="{{ site.url }}/web/placeholder.html">Figure 12</a></li>
	</ul>
</nav>
