	    <p><pre><code>echo 'deb http://deb.debian.org/debian experimental main contrib non-free
deb-src http://deb.debian.org/debian experimental main contrib non-free' >> /etc/apt/sources.list

apt update
apt install -t experimental -y virt-manager qemu-system pkg-config libvirt-dev python-libvirt

ip link set up dev eno7
ip link set up dev eno8

# disable ipv6 to avoid pf chatting on vf connection
sysctl net.ipv6.conf.eno7.disable_ipv6=1
sysctl net.ipv6.conf.eno8.disable_ipv6=1

# download network configs
git clone https://github.com/gallenmu/hipnet21 /root/hipnet21

# configure mgmt interface of VM
virsh net-define /root/hipnet21/configs/vm/net.xml
virsh net-start net

# configure measurement interfaces of VM
virsh net-define /root/hipnet21/configs/vm/net7.xml
virsh net-define /root/hipnet21/configs/vm/net8.xml
virsh net-start net7
virsh net-start net8

virt-install --cpu host-passthrough --memory 16384 --vcpus=3 --cpuset=1-3 --boot=network \
--name vm --nodisks --network="network=net,mac=11:22:33:44:55:66,model=virtio" \
--network="network=net7,mac=52:54:00:8d:9d:ad,model=virtio" \
--network="network=net8,mac=52:54:00:21:f8:29,model=virtio" \
--noautoconsole --graphics none --dry-run --controller="type=usb,model=none" --print-xml \
--console "pty,target_type=virtio" > vm.xml

virsh define vm.xml
virsh start vm</code></pre></p>
